.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: var(--primary-3);
  height: var(--size-9);
}

.header > nav {
  display: flex;
  gap: var(--size-5);
}
