.button {
  background-color: red;
  height: 50px;
  width: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  min-height: 80vh;
  /* width: 100%; */
}

.button {
  flex: 1;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-2);
}

.content {
  background-color: red;
}

.button,
.content {
  border-radius: var(--radius-4);
}

.button[data-state='active'] {
  background-color: blue;
}
